<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
						http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">

	<http:listener-config name="ridexpress">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="router" api="api/ridexpress-experience-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config doc:id="6dce554c-b499-4ef4-bc33-33784659ae41" doc:name="Database Config" name="postgres">
        <db:generic-connection driverClassName="org.postgresql.Driver" url="jdbc:postgresql://${postgres.hostname}:${postgres.port}/${postgres.service}?user=${postgres.username}&amp;password=${postgres.password}"></db:generic-connection>
    </db:config>
	<http:request-config name="google-maps" doc:name="HTTP Request configuration" doc:id="1f06e185-89ae-4000-9b3f-58ad57727d6b" />
	<http:request-config name="okta" doc:name="HTTP Request configuration" doc:id="1d47e8c8-7e57-42da-b194-e30faeae752b" />
	<http:request-config name="square" doc:name="HTTP Request configuration" doc:id="0cad353e-f9fa-4595-bebc-7edc7eb518d8" />
	<amqp:config name="rabbitmq" doc:name="AMQP Config" doc:id="4a2abf2e-166c-474d-ae52-5aba944e2176" >
		<amqp:connection host="${rabbitmq.hostname}" port="${rabbitmq.port}" virtualHost="${rabbitmq.virtualhost}" username="${rabbitmq.username}" password="${rabbitmq.password}"/>
	</amqp:config>
	<configuration-properties doc:name="Configuration properties" doc:id="96b7b486-0e36-4f72-bf06-5a3806e5dd79" file="${secrets.path}" />
	<configuration-properties doc:name="Configuration properties" doc:id="fcf3d16e-b5c4-4d50-9cdc-ae8ed517cebc" file="config.properties" />
</mule>