<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="http-listener-config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <http:request-config name="database-system-api" basePath="/api">
        <http:request-connection host="${database-system-api.hostname}" port="${database-system-api.port}" />
    </http:request-config>
    <http:request-config name="google-maps-system-api" basePath="/api">
        <http:request-connection host="${google-maps-system-api.hostname}" port="${google-maps-system-api.port}" />
    </http:request-config>
    <http:request-config name="square-system-api" basePath="/api">
        <http:request-connection host="${square-system-api.hostname}" port="${square-system-api.port}" />
    </http:request-config>
    <http:request-config name="push-notifications-system-api" basePath="/api">
        <http:request-connection host="${push-notifications-system-api.hostname}" port="${push-notifications-system-api.port}" />
    </http:request-config>
    <configuration-properties file="config.properties" />
    <configuration-properties file="${secrets.path}" />
</mule>
